<h1>Widgets</h1>
<ul>
  <% @widgets.each do |widget| %>
    <li>Widget <%= widget.id %></li>
  <% end %>
</ul>
<script>
  document.addEventListener('turbo:before-render', async (event) => {
    event.preventDefault()

    event.detail.resume()
  })
</script>
