<h1 class="todo-h1">Turbo Drive</h1>

<div class="todo-container">
  <h2 class="todo-h2">Links</h2><br>

  <div>
    <h3 class="todo-h3">Without Drive</h3>
    <a href="/widgets/1" data-turbo="false">Widget 1</a>
  </div><br>

  <div>
    <h3 class="todo-h3">With Drive</h3>
    <a href="/widgets/1">Widget 1</a>
  </div>
</div>

<div class="todo-container">
  <h2 class="todo-h2">Forms</h2><br>

  <h3 class="todo-h3">Without Drive</h3>
  <form action="/widgets" method="post" data-turbo="false">
    <input type="submit" value="Submit" class="todo-button">
    <input
      type="hidden"
      name="authenticity_token"
      id="authenticity_token"
      value="<%= form_authenticity_token %>"
    >
  </form><br>

  <h3 class="todo-h3">With Drive</h3>
  <form action="/widgets" method="post">
    <input type="submit" value="Submit" class="todo-button">
  </form>
</div>
