/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.delete {
  color: red;
  cursor: pointer;
  display: inline-block;
  margin: 0 0 -6px 6px;
  width: 23px;
}

.display-none {
  display: none;
}

.display-inline-block {
  display: inline-block;
}

.expandable {
  cursor: pointer;
  background-color: #334155 !important;
  padding: 5px 15px 5px 15px;
  margin: 10px 5px 0px 0;
  width: 100%;
}

.expandable--expand {
  height: 50px;
  overflow: hidden;
  transition: height 0.15s ease-out;
  width: 100%;
  background-color: #475569;
  padding: 12px 0 0 20px;
}

.expandable--collapse {
  height: 0px;
  transition: height 0.15s ease-out;
  border-width: 0;
  width: 100%;
  background-color: #475569;
}

.expandable--show {
  display: inline-block;
}

.expandable--hide {
  display: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-frame {
  width: 47%;
}

.frame {
  border-color: #a78bfa;
  border-style: dashed;
  border-width: 1px;
  display: block;
  min-height: 26px;
}

.notification {
  background-color: #b0b0b0;
  border-radius: 5px;
  height: max-content;
  margin: 20px;
  padding: 20px;
  position: fixed;
  right: 30px;
  top: 30px;
  transition: opacity 1s ease-out;
  width: max-content;
}

.notification--hide {
  opacity: 0;
}

.notification--show {
  opacity: 1;
}

.notification--dismiss {
  opacity: 0;
  right: -100px;
  transition: opacity 0.5s ease-out, right 0.5s ease-out;
}

.read-more {
  color: #a78bfa;
  cursor: pointer;
  font-size: 13px;
}

.slash {
  color: white;
  font-weight: bold;
}

.spinner-container {
  display: flex;
  margin-top: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.update {
  color: #a78bfa;
  cursor: pointer;
  display: inline-block;
  margin: 0 6px -3px 6px;
  width: 20px;
}

.widget {
  border: 0;
  height: 34px;
  margin-top: 10px;
}

a:link {
  text-decoration: underline;
}

body {
  background-color: #0f172a;
  color: white;
}

div {
  border-color: transparent;
  border-width: 1px;
}

h1 {
  color: #a78bfa;
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

h2 {
  color: #a78bfa;
  font-size: 20px;
  margin-bottom: 20px;
}

h3 {
  color: #d1d5db;
  padding-bottom: 6px;
}

h4 {
  color: #d1d5db;
}

header {
  align-items: center;
  background-color: #1e293b;
  border-bottom-width: 1px;
  border-color: #3a485c;
  color: #c4b5fd;
  display: flex;
  height: 20px;
  padding: 20px;
}

header a:link {
  text-decoration: none;
}

input[type="submit"] {
  background-color: #818cf8 !important;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px 0px 0;
  padding: 5px 15px 5px 15px;
  width: max-content;
}

input[type="submit"]:hover {
  background-color: #6366f1 !important;
}

input[type="text"] {
  color: #0f172a;
  border-width: 0;
  margin: 10px 5px 0 0;
  padding: 5px 40px 5px 12px;
}

section {
  background-color: #1e293b;
  border-color: #3a485c;
  border-radius: 5px;
  border-width: 1px;
  margin: 15px 20px 25px 20px;
  max-width: 550px;
  padding: 15px 20px 20px 20px;
}

select {
  border-width: 0;
  color: #0f172a;
  margin: 10px 5px 0 0;
  padding: 5px 40px 5px 12px;
}
