<h1>Stimulus</h1>
<div class="list-container">
  <%= image_tag 'lightning.png', class: 'lightning' %>Pairs with Turbo to augment HTML<br>
  <%= image_tag 'lightning.png', class: 'lightning' %>Connects JS objects to page elements using simple annotation<br>
</div>

<section>
  <h2>Read More Controller</h2>

  <div data-controller="read-more">
    <div
      data-read-more-target="content"
      class="truncate"
    >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    <div
      data-action="click->read-more#toggle"
      data-read-more-target="button"
      class="read-more"
    >Read more</div>
  </div>
</section>

<section>
  <h2>Notification Controller</h2>

    <%= turbo_stream_from "notification" %>
    <div
      id="notification"
      data-controller="notification"
      data-notification-target="container"
      class="notification notification--hide"
    ></div>

    <%= render 'widgets/create', widget: @widget %>
</section>
