<header>
  <a href="/turbo-drive" class="header-link">Turbo Drive</a>
  <span class="slash">&nbsp;&nbsp;/&nbsp;&nbsp;</span>
  <a href="/turbo-frames" class="header-link">Turbo Frames</a>
  <span class="slash">&nbsp;&nbsp;/&nbsp;&nbsp;</span>
  <a href="/turbo-streams" class="header-link">Turbo Streams</a>
  <span class="slash">&nbsp;&nbsp;/&nbsp;&nbsp;</span>
  <a href="/stimulus" class="header-link">Stimulus</a>
</header>
